doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julius+Sans+One')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/skrollr.min.js')

  body
    block content
    script(src='/javascripts/scripts.js')    